<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0" sku=".NETStandard,Version=v2.1" />
  </startup>
  <appSettings>
    <add key="Verbose" value="false" />
    <add key="ThreadCount" value="4" />
    <add key="GoodDamagingMovePower" value="60" />
    <add key="StrongPokemonBST" value="360" />
    <add key="UseMemoryStreams" value="true" />
    <add key="ExtractDirectory" value="./files" />
  </appSettings>
</configuration>